<div class="container"> 

<div>Roles</div>
<ul>
<li>Registered Users</li>
<li>Non-Registered Users</li>
</ul>

<div>Registered User</div>
<ul>
<li>
 Can submit a post with an youtube link, title and a description.
</li>
<li>
  Will earn points if someone likes his post
</li>
<li>
  Can like someone else posts
</li>

</div>