<div class="container"> 

<div style="margin-left:20px;margin-top:35px"><h3>Hello there, friend!</h3></div>
<img src='http://www.commentskart.com/wp-content/uploads/2013/07/Hello-Graphics-22.gif' align='right' height='100' width='150' style="margin-right:20px">


<ul>
<p> If you are here, you must be wondering either:
</p>
<li style="color:#33CC99">who the GENIUS minds behind this amazing site are</li>
<br>
<p> or, to our dismay, 
</p>
<li style="color:#33CC99">you still haven't figured it out how to navigate through the site or what to do.</li>
<br>
<p> In whichever case, let us enlighten you, our beloved visitor.
</p>
</ul>
</div>
<br>
<br>
<div style="margin-left:20px;margin-top:100px">
 <h1>US (as in us the people, not the country)</h1>
 <p>
<img src='http://www.hdwallpapers.in/walls/cute_cg_cat-HD.jpg' align='center' height='400' width='600' style="margin-right:20px">
</p> 
<p> 
</p> A litle something about us.
<p> 
</p> What should that be? Mm, we'd rather not be stalked so we'll be brief
<p> 
</p> 
<p> and misterious
</p> 
<p> and 
 </p>
 <p> and
 </p>
 <p> not to mention charming.
 </p>
 <p> So now you can say you know us. Oh, and by the way, those up there are not us. We care about our privacy, my friend.
 </p>
 <p>  .
 </p> 
 <p>  .
 </p>
</div>

<div style="margin-left:20px;margin-top:100px;margin-bottom:50px;color:#33FFFF">
<h1>THE SITE</h1>
 <p>  
 </p> 
 <p>  Now this is really easy. And fun. And entertaining. You will love it. Even we do.
 </p>
  <h3>  Step 1: </h3>
 <p>
 </p> 
 <p>  <ul><li>You will want to register. This will make things easier for you.</li>
 		<ul><li>Once you've done that, you will be able to queue your song in the playlist, </li>
 		    <li>listen to the <i>radio</i></li>
 			<li>chat with other online friends</li>
 			<li>(P.S.: we like to call everyone visiting us friends since this is our home and in your home you only welcome friends)</li>
 			<li>and with enough star-points you can advance your request to the top of the queue</li>
 			<li style="color:#33FF99">now how cool is that</li>
 			</ul>
 		</ul>
 </p>
  <p> 
  <ul>
  	<li>Without registering, you can merely listen to the songs and see the playlist.
  	<p>Basically, there's no action there. So, what are you waiting for? 
  	<br>We have no candy, but those cause teeth problems anyway.</p></li>

  </ul>
 </p> 
 <p>  
 </p>
  <p>    <h3>  Step 2: </h3>
 </p> 
 <p>  
 </p>
  <p>  Welcome to listentome. 
 </p> 
 <p>  We are here to make your life a hearing dream come true.
 </p>
  <p>  
  <ul>
  	<li> See that BIIIIIG button saying <i>Adauga o melodie</i>?</li>
  	<li> It's not gonna press itself, you know? Neither is it gonna read your mind. </li>
  	<li> (hey, there's a great song for you) </li>
  	<li> Search for your favourite song on youtube (using a different tab, obviously),</li>
  	<li> copy and paste it there, but only after adding a proper title.</li>
  	<li> (please plase, don't swear, some of us have had enough)</li>
  	<li> Press <i>Save changes</i></li>
  	<li> and VOILA, there it is, in the queue.</li>
  	<li> Aaarh, that is if, of course, there aren't like 100 song before yours.</li>
  	<li> But I can think of no better way of discovering new music for an avid listener like you. And me. Us, I mean, us. (still not the country)</li>
  </ul>
 </p>
<p>
</p>
   <h3>  Step 3: </h3>
 <p>
 </p> 
  <p> Sit back and enjoy! 
 </p> 
  <p>
 </p> 
  <p> Oh, and by the way, thank you for visiting us. You are awesome!
 </p> 
  <p> Cheers!
 </p> 
</div>
<br>
