<div> 

<div style="margin-left:20px;margin-top:35px"><h3>Hello there, friend!</h3></div>
<img src='http://www.commentskart.com/wp-content/uploads/2013/07/Hello-Graphics-22.gif' align='right' height='100' width='150' style="margin-right:20px">


<ul>
<p> If you are here, you must be wondering either:
</p>
<li style="color:#33CC99">who the GENIUS minds behind this amazing site are</li>
<br>
<p> or, to our dismay, 
</p>
<li style="color:#33CC99">you still haven't figured it out how to navigate through the site.</li>
<br>
<p> In whichever case, let us enlighten you, our beloved visitor.
</p>
</ul>
</div>
<br>
<br>
<div style="margin-left:20px;margin-top:35px">
 <h1>STEP 1</h1>
 <p>
<img src='http://www.hdwallpapers.in/walls/cute_cg_cat-HD.jpg' align='center' height='400' width='600' style="margin-right:20px">
</p> 
<p> 
</p> A liitle something about us.
<p> 
</p> What should that be? Mm, we'd rather not be stalked so we'll be brief
<p> 
</p> 
<p> and misterious
</p> 
<p> and 
 </p>
 <p> and
 </p>
 <p> not to mention charming.
 </p>
 <p> So now you can say you know us. Oh, and by the way, those up there are not us. We care about our privacy, my friend.
 </p>
 <p>  .
 </p> 
 <p>  .
 </p>
</div>
<br>