 <footer>
      <div class="footer">
            <div class="row">
                <div class="col-lg-9">
                    <ul>
                       <li><%= link_to 'About', :controller => "static_pages", :action => "about" %></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class='pull-right'>
                        <li class="copyright">ROR - Vineri</a> &copy; <%= Time.now.strftime("%Y") %></li>
                    </ul>
                </div>
            </div>
      </div>
</footer>
