<div class="row">
	<div class="col-lg-8">
		<!--<%= image_tag("videoframe.png", :alt => "video frame" , :class => "img-responsive") %>-->
		<div class="col-lg-offset-2 col-lg-8">
			<div class="flex-video widescreen">
				<iframe src="//www.youtube.com/embed/-QiyPVwZkk8" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-default">
  <!-- Default panel contents -->
		  <div class="panel-heading">Playlist</div>
		  <!-- List group -->
		  <ul class="list-group">
		    <li class="list-group-item"><a href="#">Lasa-mi toamna pomii verzi</a></li>
		    <li class="list-group-item"><a href="#">Lasa-mi toamna pomii verzi</a></li>
		    <li class="list-group-item"><a href="#">Lasa-mi toamna pomii verzi</a></li>
		    <li class="list-group-item"><a href="#">Lasa-mi toamna pomii verzi</a></li>
		    <li class="list-group-item"><a href="#">Lasa-mi toamna pomii verzi</a></li>
		  </ul>
		</div>
	</div>
</div>
