<% @songs.each do |song| %>
  <li class="list-group-item"><a href="#"><%= song.title %></a><span class="glyphicon glyphicon-thumbs-up pull-right js-song_vote" data-song_id=<%= song.id %>></span></li>
<% end %>